.containers-spinner{
    width: 100%;
}
.containers{
    display: flex;
    justify-content: space-around;

    .button-container{
        // transform: translateX(1vw);
        width: 10px;
        height: 10px;
        padding: 10px;
        background: #282c34;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px 10px 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
        cursor: pointer;

        .material-icons{
            // padding: 5px;
            color: #ececec;
            transform: translateX(4px);
            // margin-bottom: 5px;
        }

    }

    .map{
        width: 95vw !important;
        height: 93vh;
        border-radius: 20px;
        transform: translateX(3vh);
        word-break: break-word;
    }
};


@media (max-width: 1024px) {
    .containers{
        .button-container{
            display: none;
        }
        .map{
            width: 100vw;
        }
    }
}

