.desktop-inputs-containers{
    width: 90%;
    padding: 0px 5%;
    display: flex;
    flex-direction: column;

    .desktop-inputs-containers-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        >h2{
            color: #61dafb;
        }

        .material-icons{
            color: #61dafb;
            cursor: pointer;
        }
    }

    .MuiCollapse-container{
        .MuiCollapse-wrapper{
            .MuiCollapse-wrapperInner{
                // scroll-hint
                background-image: linear-gradient(to top, #282c34, #282c34), linear-gradient(to top, #282c34, #282c34), linear-gradient(to top, rgba(110, 110, 110, 0.25), rgba(255, 255, 255, 0)), linear-gradient(to bottom, rgba(110, 110, 110, 0.25), rgba(255, 255, 255, 0));
                background-position: bottom center, top center, bottom center, top center;
                /* background-color: white; */
                background-repeat: no-repeat;
                background-size: 100% 20px, 100% 20px, 100% 20px, 100% 20px;
                background-attachment: local, local, scroll, scroll;
                // scroll-hint-end
                height: 60vh;
                overflow-y: scroll;
                
                .radio-box-container{
                    padding: 10px 0px;
                }

                .MuiFormControl-root{
                    width: 100%;
                    margin: 5px 0px;
                    color: #ececec;
            
                    >label{
                        color: #ececec;
                        font-size: 1rem;
                    }
            
                    .MuiFormLabel-root{
                        color: #ececec;
                        font-size: 1rem;
                    }
            
                    .MuiInputBase-root{
                        color: #fff;
                    }
            
                    .MuiInput-underline{ 
                        border-bottom: 0.5px solid #ececec;
                    }
            
            
                    .MuiInput-underline:after{
                        border-bottom: 2px solid #ececec;
                    }
            
                    .MuiFormGroup-root{
                        display: flex;
                        flex-direction: row;
                        margin: 5px 0px;
            
                        .MuiFormControlLabel-root{
                            .MuiRadio-colorSecondary.Mui-checked{
                                color:#ececec;
                            }
                        }
                    }
            
                }
            
                .checkbox-group{
                    padding-top: 10px;
                    .MuiFormLabel-root{
                        color: #ececec;
                    }
            
                    .MuiFormGroup-root{
                        >label{
                            >span{
                                color: #ececec;
                            }
                        }
                    }
                
                }

                .update-button{
                    margin: 5px 0px;
                    background: #61dafb;
                    color: #282c34;
                }
            
            }
        }
    }

    .inputs-containers-inputs{
        max-height: 80vh;
        overflow-y: scroll;

        .MuiFormControl-root{
            margin: 5px 0px;
            width: 100%;
    
            .MuiFormGroup-root{
                display: flex;
                flex-direction: row;
            }
        }
    }
};  